<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Study Jam</title>
</head>
<body>
    <h1>Welcome to the Study Jam - How nice of you to join!!</h1>
    <div id="app">
        <!-- display messages/data using {{}} -->
        <p>Message: {{ message }}</p>
        <p>List: {{lists}}</p>
        <p>First element: {{lists[0]}}</p>

        <!-- directives -->
        <ul>
            <li v-for="list in lists">{{ list }}</li>   
        </ul>
        
        <!-- form -->
        <input type="number">
        <!-- v-on:click same as @click -->
        <button @click="evaluate">Evaluate</button>

        <!-- More buttons -->
        <button @click="show = !show">Toggle List</button>
        <button @click="push">Push</button>
        <button @click="pop">Pop</button>
        <button @click="reverse">Reverse</button>

        <ul v-if="nums.length && show">
            <li v-for="num in nums">{{num}}</li>
        </ul>
        <p v-else-if="nums.length">List not empty, but hiddeb :p</p>
        <p v-else>List is empty :[</p>

        
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
        const app = createApp({
            data() {
                // define variables, keywords etc
                return {
                    message: 'Hello Vue.js!',
                    lists: ['One Piece', 'AOT'],
                    nums: [1, 2, 3, 4, 5],
                    show: true
                }
            },
            methods: {
                // define functions
                evaluate() {
                    console.log('Evaluate');
                },
                push() {
                    this.nums.push(6);
                },
                pop() {
                    this.nums.pop();
                },
                reverse() {
                    this.nums.reverse();
                }
            }
        
        }).mount('#app')
        
    </script>

    <!-- Task to be done - fav movie/anime/series ola characters oru list - faviortie list  - when clicked on a button - it should go to fav list-->
</body>
</html>